xsd/frontend-contract.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="urn:frontend:crm:contract"
            xmlns="urn:frontend:crm:contract"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

  <xsd:simpleType name="EmailType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[^\s@]+@[^\s@]+\.[^\s@]+"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="BelgianVatNumberType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(BE\s?)?(0\d{9})"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="CountryCodeType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Z]{2}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="RegistrationRoleType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="visitor"/>
      <xsd:enumeration value="company_contact"/>
      <xsd:enumeration value="spreker"/>
      <xsd:enumeration value="kassamedewerker"/>
      <xsd:enumeration value="sysadmin"/>
      <xsd:enumeration value="eventbeheerder"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="RegistrationUpdatedFieldsType">
    <xsd:sequence>
      <xsd:element name="firstName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="lastName"  type="xsd:string" minOccurs="0"/>
      <xsd:element name="email"     type="EmailType"  minOccurs="0"/>
      <xsd:element name="phone"     type="xsd:string" minOccurs="0"/>
      <xsd:element name="role"      type="RegistrationRoleType" minOccurs="0"/>
      <xsd:element name="company"   type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RegistrationType">
    <xsd:sequence>
      <xsd:element name="registrationId" type="xsd:string"/>
      <xsd:element name="firstName"      type="xsd:string"/>
      <xsd:element name="lastName"       type="xsd:string"/>
      <xsd:element name="email"          type="EmailType"/>
      <xsd:element name="role"           type="RegistrationRoleType"/>
      <xsd:element name="gdprConsent"    type="xsd:boolean"/>
      <xsd:element name="phone"          type="xsd:string" minOccurs="0"/>
      <xsd:element name="company"        type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RegistrationChangeType">
    <xsd:sequence>
      <xsd:element name="registrationId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="email"          type="EmailType"/>
      <xsd:element name="changeType">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="updated"/>
            <xsd:enumeration value="cancelled"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="updatedFields" type="RegistrationUpdatedFieldsType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CompanyCreatedType">
    <xsd:sequence>
      <xsd:element name="name"        type="xsd:string"/>
      <xsd:element name="vatNumber"   type="BelgianVatNumberType"/>
      <xsd:element name="email"       type="EmailType"      minOccurs="0"/>
      <xsd:element name="phone"       type="xsd:string"     minOccurs="0"/>
      <xsd:element name="street"      type="xsd:string"     minOccurs="0"/>
      <xsd:element name="houseNumber" type="xsd:string"     minOccurs="0"/>
      <xsd:element name="postalCode"  type="xsd:string"     minOccurs="0"/>
      <xsd:element name="city"        type="xsd:string"     minOccurs="0"/>
      <xsd:element name="country"     type="CountryCodeType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="Registration"       type="RegistrationType"/>
  <xsd:element name="RegistrationChange" type="RegistrationChangeType"/>
  <xsd:element name="CompanyCreated"     type="CompanyCreatedType"/>

</xsd:schema>
