xsd/session.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- ========================================================= -->
  <!-- SessionCreated -->
  <!-- Planning → Frontend / Control Room -->
  <!-- Frontend → Planning (sessionId optioneel want Planning genereert die) -->
  <!-- ========================================================= -->

  <xs:element name="SessionCreated">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sessionId"  type="uuid"        minOccurs="0"/>
        <xs:element name="title"      type="xs:string"/>
        <xs:element name="date"       type="xs:string"/>
        <xs:element name="startTime"  type="xs:string"/>
        <xs:element name="endTime"    type="xs:string"   minOccurs="0"/>
        <xs:element name="capacity"   type="xs:int"      minOccurs="0"/>
        <xs:element name="locationId" type="uuid"        minOccurs="0"/>
        <xs:element name="speakerId"  type="uuid"        minOccurs="0"/>
        <xs:element name="location"   type="xs:string"   minOccurs="0"/>
        <xs:element name="status"     type="xs:string"   minOccurs="0"/>
        <xs:element name="icsData"    type="xs:string"   minOccurs="0"/>
        <xs:element name="timestamp"  type="xs:dateTime" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ========================================================= -->
  <!-- SessionUpdated -->
  <!-- Planning → CRM / Frontend / Mailing -->
  <!-- ========================================================= -->

  <xs:element name="SessionUpdated">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sessionId"   type="uuid"/>
        <xs:element name="sessionName" type="xs:string"/>
        <xs:element name="changeType"  type="xs:string"/>
        <xs:element name="newTime"     type="xs:string"   minOccurs="0"/>
        <xs:element name="newLocation" type="xs:string"   minOccurs="0"/>
        <xs:element name="participantIds" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="participantId" type="uuid" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="icsData"    type="xs:string"   minOccurs="0"/>
        <xs:element name="timestamp"  type="xs:dateTime" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ========================================================= -->
  <!-- SessionCancelled -->
  <!-- Planning → Frontend / Mailing / Control Room -->
  <!-- ========================================================= -->

  <xs:element name="SessionCancelled">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sessionId"   type="uuid"/>
        <xs:element name="sessionName" type="xs:string"/>
        <xs:element name="status"      type="xs:string"   minOccurs="0"/>
        <xs:element name="reason"      type="xs:string"   minOccurs="0"/>
        <xs:element name="participantIds" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="participantId" type="uuid" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="icsData"    type="xs:string"   minOccurs="0"/>
        <xs:element name="timestamp"  type="xs:dateTime" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ========================================================= -->
  <!-- SessionRescheduled -->
  <!-- Planning → Frontend / Mailing -->
  <!-- ========================================================= -->

  <xs:element name="SessionRescheduled">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sessionId"    type="uuid"/>
        <xs:element name="sessionName"  type="xs:string"/>
        <xs:element name="oldDate"      type="xs:string"/>
        <xs:element name="oldStartTime" type="xs:string"/>
        <xs:element name="oldEndTime"   type="xs:string"   minOccurs="0"/>
        <xs:element name="newDate"      type="xs:string"/>
        <xs:element name="newStartTime" type="xs:string"/>
        <xs:element name="newEndTime"   type="xs:string"   minOccurs="0"/>
        <xs:element name="newLocation"  type="xs:string"   minOccurs="0"/>
        <xs:element name="reason"       type="xs:string"   minOccurs="0"/>
        <xs:element name="participantIds" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="participantId" type="uuid" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="timestamp"  type="xs:dateTime" minOccurs="0"/>
        <xs:element name="icsData"    type="xs:string"   minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ========================================================= -->
  <!-- SessionFull -->
  <!-- Planning → Frontend -->
  <!-- ========================================================= -->

  <xs:element name="SessionFull">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sessionId"            type="uuid"/>
        <xs:element name="currentRegistrations" type="xs:int"      minOccurs="0"/>
        <xs:element name="capacity"             type="xs:int"      minOccurs="0"/>
        <xs:element name="crmMasterId"          type="uuid"        minOccurs="0"/>
        <xs:element name="timestamp"            type="xs:dateTime" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ========================================================= -->
  <!-- ParticipantRegistered -->
  <!-- Planning → Control Room -->
  <!-- ========================================================= -->

  <xs:element name="ParticipantRegistered">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sessionId"            type="uuid"/>
        <xs:element name="crmMasterId"          type="uuid"        minOccurs="0"/>
        <xs:element name="currentRegistrations" type="xs:int"/>
        <xs:element name="capacity"             type="xs:int"      minOccurs="0"/>
        <xs:element name="registrationTime"     type="xs:dateTime" minOccurs="0"/>
        <xs:element name="timestamp"            type="xs:dateTime" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ========================================================= -->
  <!-- SessionsRequested -->
  <!-- Frontend → Planning (request-reply) -->
  <!-- ========================================================= -->

  <xs:element name="SessionsRequested">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>

  <!-- ========================================================= -->
  <!-- SessionsAll -->
  <!-- Planning → Frontend (request-reply response) -->
  <!-- ========================================================= -->

  <xs:element name="SessionsAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sessions">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="session" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="sessionId"  type="uuid"/>
                    <xs:element name="title"      type="xs:string"/>
                    <xs:element name="date"       type="xs:string"/>
                    <xs:element name="startTime"  type="xs:string"/>
                    <xs:element name="endTime"    type="xs:string"   minOccurs="0"/>
                    <xs:element name="location"   type="xs:string"   minOccurs="0"/>
                    <xs:element name="locationId" type="uuid"        minOccurs="0"/>
                    <xs:element name="speakerId"  type="uuid"        minOccurs="0"/>
                    <xs:element name="status"     type="xs:string"   minOccurs="0"/>
                    <xs:element name="capacity"   type="xs:int"      minOccurs="0"/>
                    <xs:element name="icsData"    type="xs:string"   minOccurs="0"/>
                    <xs:element name="timestamp"  type="xs:dateTime" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>



  <!-- ========================================================= -->
  <!-- RegistrationCreated -->
  <!-- Frontend → Planning -->
  <!-- ========================================================= -->

  <xs:element name="RegistrationCreated">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sessionId"   type="uuid"/>
        <xs:element name="crmMasterId" type="uuid"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ========================================================= -->
  <!-- RegistrationConfirmed -->
  <!-- Planning → Frontend -->
  <!-- ========================================================= -->

  <xs:element name="RegistrationConfirmed">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="registrationId" type="uuid"/>
        <xs:element name="sessionId"      type="uuid"/>
        <xs:element name="crmMasterId"    type="uuid"/>
        <xs:element name="timestamp"      type="xs:dateTime" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:simpleType name="uuid">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
